In [1]:
from ai_data_eng.searching.graph import *
from ai_data_eng.searching.utils import *
from ai_data_eng.searching.searchning import * 
from ai_data_eng.searching.a_star_time_opt import a_star_time_opt_light
from ai_data_eng.searching.a_star_changes_opt import a_star_changes_opt_light
from ai_data_eng.searching.heuristics import WeightedAverageTimeHeuristic, ChangeHeuristic
from pathlib import Path

DATA_DIR = Path('../data')

In [2]:
connection_graph = pd.read_csv(DATA_DIR / 'connection_graph.csv', 
                               usecols=['line', 'departure_time', 'arrival_time', 'start_stop',
       'end_stop', 'start_stop_lat', 'start_stop_lon', 'end_stop_lat',
       'end_stop_lon'])

C:\Users\julia\AppData\Local\Temp\ipykernel_9068\3791013718.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  connection_graph = pd.read_csv(DATA_DIR / 'connection_graph.csv',

In [3]:
g = Graph(connection_graph, add_constant_change_time)

In [11]:
dep_time = time_to_normalized_sec('08:00:00')
start_stop = 'PL. GRUNWALDZKI'
end_stop = 'most Grunwaldzki'

In [14]:
valid_conns = g.conn_graph.loc[(g.conn_graph['start_stop'] == start_stop) & (g.conn_graph['end_stop'] == end_stop) & (diff(g.conn_graph['departure_sec'], dep_time) >= 0)]

In [15]:
valid_conns

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
14027,D,23:01:00,23:02:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,82860,82920
14065,D,22:41:00,22:42:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,81660,81720
14111,D,23:08:00,23:09:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,83280,83340
14184,D,11:00:00,11:02:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,39600,39720
14240,D,13:30:00,13:32:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,48600,48720
...,...,...,...,...,...,...,...,...,...,...,...
894793,241,27:40:00,27:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,13200,13260
894885,241,25:40:00,25:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,6000,6060
894999,241,28:40:00,28:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,16800,16860
895078,241,23:40:00,23:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,85200,85260
895192,241,26:40:00,26:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,9600,9660

In [29]:
valid_conns.groupby(['line', 'start_stop', 'end_stop', 'start_stop_lat', 'start_stop_lon', 'end_stop_lat', 'end_stop_lon']).head(1)

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
14027,D,23:01:00,23:02:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,82860,82920
97770,4,08:16:00,08:17:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,29760,29820
217303,12,06:24:00,06:25:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111623,17.059965,51.110212,17.055385,23040,23100
230957,13,05:17:00,05:18:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111623,17.059965,51.110212,17.055385,19020,19080
271777,16,05:11:00,05:12:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,18660,18720
319465,19,22:40:00,22:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,81600,81660
832621,145,05:37:00,05:38:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,20220,20280
845843,146,05:23:00,05:24:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,19380,19440
868724,149,05:25:00,05:26:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,19500,19560
893889,240,23:42:00,23:43:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,85320,85380
894679,241,24:40:00,24:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,2400,2460

In [30]:
def rename_stop(stop, prefix='end'):
    if isinstance(stop, pd.DataFrame):
        return stop.rename({f'{prefix}_stop_lat': 'stop_lat',
                            f'{prefix}_stop_lon': 'stop_lon', f'{prefix}_stop': 'stop'}, axis=1, errors='ignore')
    else:
        return stop.rename({f'{prefix}_stop_lat': 'stop_lat',
                            f'{prefix}_stop_lon': 'stop_lon', f'{prefix}_stop': 'stop'}, errors='ignore')

def stop_as_tuple(stop, prefix='end'):
    stop = rename_stop(stop, prefix)
    return (stop['stop'], stop['stop_lat'], stop['stop_lon'])

In [44]:
pd.concat([g.conn_graph.loc[1:4], g.conn_graph.loc[2:3]], axis=1)

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,...,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
1,A,20:53:00,20:54:00,Paprotna,Obornicka (Wołowska),51.147752,17.020539,51.144385,17.023735,75180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,20:54:00,20:55:00,Obornicka (Wołowska),Bezpieczna,51.144385,17.023735,51.141360,17.026376,75240,...,20:54:00,20:55:00,Obornicka (Wołowska),Bezpieczna,51.144385,17.023735,51.141360,17.026376,75240.0,75300.0
3,A,20:55:00,20:57:00,Bezpieczna,Bałtycka,51.141360,17.026376,51.136632,17.030617,75300,...,20:55:00,20:57:00,Bezpieczna,Bałtycka,51.141360,17.026376,51.136632,17.030617,75300.0,75420.0
4,A,20:57:00,20:59:00,Bałtycka,Broniewskiego,51.136632,17.030617,51.135851,17.037383,75420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
g.conn_graph.loc[[1]]

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
1,A,20:53:00,20:54:00,Paprotna,Obornicka (Wołowska),51.147752,17.020539,51.144385,17.023735,75180,75240

In [31]:
stop_as_tuple(g.conn_graph.loc[1])

('Obornicka (Wołowska)', 51.144385, 17.023735)

In [33]:
stop_as_tuple(rename_stop(g.conn_graph.loc[1]))

('Obornicka (Wołowska)', 51.144385, 17.023735)

In [28]:
valid_conns.sort_values(by='arrival_sec').drop_duplicates(['line', 'start_stop', 'end_stop', 'start_stop_lat', 'start_stop_lon', 'end_stop_lat', 'end_stop_lon'])

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
893914,240,24:28:00,24:29:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,1680,1740
894679,241,24:40:00,24:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,2400,2460
871775,149,03:57:00,03:58:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,14220,14280
834512,145,04:17:00,04:18:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,15420,15480
24342,D,04:29:00,04:30:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,16140,16200
847104,146,04:54:00,04:55:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,17640,17700
277378,16,04:56:00,04:57:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,17760,17820
107187,4,05:00:00,05:01:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,18000,18060
230957,13,05:17:00,05:18:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111623,17.059965,51.110212,17.055385,19020,19080
223236,12,05:43:00,05:44:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111623,17.059965,51.110212,17.055385,20580,20640
326306,19,12:36:00,12:37:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111444,17.059960,51.110212,17.055385,45360,45420

In [21]:
valid_conns.sort_values(by=['arrival_time'])

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
871775,149,03:57:00,03:58:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,14220,14280
834512,145,04:17:00,04:18:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,15420,15480
838728,145,04:18:00,04:19:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,15480,15540
24342,D,04:29:00,04:30:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,16140,16200
14840,D,04:30:00,04:31:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,16200,16260
...,...,...,...,...,...,...,...,...,...,...,...
893989,240,26:53:00,26:54:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,10380,10440
894793,241,27:40:00,27:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,13200,13260
894014,240,27:48:00,27:49:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,13680,13740
894039,240,28:36:00,28:37:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111406,17.059852,51.110136,17.055093,16560,16620
894999,241,28:40:00,28:41:00,PL. GRUNWALDZKI,most Grunwaldzki,51.111621,17.060086,51.110136,17.055093,16800,16860

In [ ]:
g.get_earliest_from()

In [48]:
pd.concat([g.conn_graph.loc[1:4], g.conn_graph.loc[1:4]])

,line,departure_time,arrival_time,start_stop,end_stop,start_stop_lat,start_stop_lon,end_stop_lat,end_stop_lon,departure_sec,arrival_sec
1,A,20:53:00,20:54:00,Paprotna,Obornicka (Wołowska),51.147752,17.020539,51.144385,17.023735,75180,75240
2,A,20:54:00,20:55:00,Obornicka (Wołowska),Bezpieczna,51.144385,17.023735,51.141360,17.026376,75240,75300
3,A,20:55:00,20:57:00,Bezpieczna,Bałtycka,51.141360,17.026376,51.136632,17.030617,75300,75420
4,A,20:57:00,20:59:00,Bałtycka,Broniewskiego,51.136632,17.030617,51.135851,17.037383,75420,75540
1,A,20:53:00,20:54:00,Paprotna,Obornicka (Wołowska),51.147752,17.020539,51.144385,17.023735,75180,75240
2,A,20:54:00,20:55:00,Obornicka (Wołowska),Bezpieczna,51.144385,17.023735,51.141360,17.026376,75240,75300
3,A,20:55:00,20:57:00,Bezpieczna,Bałtycka,51.141360,17.026376,51.136632,17.030617,75300,75420
4,A,20:57:00,20:59:00,Bałtycka,Broniewskiego,51.136632,17.030617,51.135851,17.037383,75420,75540